In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from itertools import chain
import warnings
warnings.filterwarnings('ignore')

In [2]:
#plt.rcParams['figure.figsize'] = [16, 6]
#sns.set(style='darkgrid')

In [3]:
df = pd.read_excel("Equity_factsheet_As_on_31_01_2019.xls", None);

In [4]:
merged_data = {}
ignore_list = ['FIPP', 'FIEHF', 'FIESF']
for key in df.keys():
    #print(df[key].columns[0])
    if key not in ignore_list:
        print(f'Processing {key}')
        fund = df[key].columns[0]
        merged_data[key] = {}
        merged_data[key]['fund'] = fund
        headers = list(df[key].iloc[1])
        df[key].dropna(axis=0, how='all', thresh=None, subset=None, inplace=True)
        df[key] = df[key][2:]
        df[key].columns = headers
        df[key]['Sector'] = 'NA'
        sectype='NA'
        sectypeseries= []
        
        for row in df[key].iterrows():
            #print(row[1][0], row[1][4], type(row[1][1]), np.isnan(row[1][1]))
            if np.isnan(row[1][1]):
                sectype = row[1][0]
                #print(row[1][0])
            sectypeseries.append(sectype)
        df[key]['Sector'] = sectypeseries
        #sectypeseries
        df[key].dropna(inplace=True)
        #print(df[key])
        Total = df[key]['% of Assets'].sum()
        #print (Total)
        cash = 100 - Total
        df[key] = df[key].append({'Company Name':'Cash', '% of Assets':cash, 'Sector': 'Cash'}, ignore_index=True)
        merged_data[key]['data'] = df[key]
    else:
        print(f'Not Processing {key}')

Processing FITX
Processing FIOF
Processing FITF
Processing FIPF
Processing FIEF
Processing FIBF
Processing FISCF
Processing FIEAF
Processing FIIF-NSE
Processing FBIF
Processing FAEF
Processing FIFEF
Processing TIEIF
Processing TIVF
Processing FEGF
Processing FIUS
Processing FIFOF-50's+
Processing FIFOF-50's
Processing FIFOF-40's
Processing FIFOF-30's
Processing FIFOF-20's
Processing FIMAS
Processing FID-PE
Not Processing FIPP
Not Processing FIEHF
Not Processing FIESF

## Use merged_data[key]['fund'] to access fund name
## Use merged_data[key]['data'] to access fund data

In [5]:
merged_data['FITX']['fund']

'Franklin India Taxshield'

In [6]:
merged_data['FITX']['data']

,Company Name,No.of Shares,Market Value(Rs. in Lakhs),% of Assets,Sector
0,Mahindra & Mahindra Ltd.*,1959699,13326.9,3.63498,Auto
1,Bajaj Auto Ltd.,197369,5041.89,1.3752,Auto
2,Tata Motors Ltd.,2446634,4433.3,1.2092,Auto
3,"Tata Motors Ltd, DVR",1791828,1678.05,0.457695,Auto
4,Maruti Suzuki India Ltd.,21647,1437.61,0.392115,Auto
5,TVS Motor Company Ltd.,265282,1326.41,0.361784,Auto
6,Exide Industries Ltd.,1500000,3403.5,0.92832,Auto Ancillaries
7,Balkrishna Industries Ltd.,402972,3266.49,0.89095,Auto Ancillaries
8,Amara Raja Batteries Ltd.,381779,2844.06,0.775731,Auto Ancillaries
9,Axis Bank Ltd.*,4949477,35769.9,9.75639,Banks
10,HDFC Bank Ltd.*,1445052,30056.4,8.19801,Banks
11,Kotak Mahindra Bank Ltd.*,1624652,20401.6,5.56462,Banks
12,ICICI Bank Ltd.*,4013153,14625.9,3.98929,Banks
13,State Bank of India,1235519,3628.1,0.989581,Banks
14,Grasim Industries Ltd.*,1631440,11762.7,3.20832,Cement
15,Voltas Ltd.,750000,4058.25,1.10691,Construction Project
16,Titan Company Ltd.,649808,6470.79,1.76494,Consumer Durables
17,United Breweries Ltd.,511834,7313.08,1.99468,Consumer Non Durables
18,Hindustan Unilever Ltd.,330103,5820.54,1.58758,Consumer Non Durables
19,Colgate Palmolive (India) Ltd.,440701,5641.41,1.53872,Consumer Non Durables
20,Nestle India Ltd. ...,44826,5154.03,1.40578,Consumer Non Durables
21,Kansai Nerolac Paints Ltd.,881052,3932.58,1.07263,Consumer Non Durables
22,United Spirits Ltd.,546279,2948.81,0.804302,Consumer Non Durables
23,Asian Paints Ltd.,200000,2825.2,0.770586,Consumer Non Durables
24,Tata Steel Ltd.,1460704,6963.18,1.89924,Ferrous Metals
25,TI Financial Holdings Ltd.,1338759,5948.11,1.62237,Finance
26,PNB Housing Finance Ltd.,504303,4551.08,1.24133,Finance
27,Equitas Holdings Ltd.,1695647,2033.93,0.554763,Finance
28,CARE Ratings Ltd.,160000,1584.88,0.432283,Finance
29,Repco Home Finance Ltd.,151538,607.061,0.165579,Finance
30,Petronet LNG Ltd.,3578627,8146.74,2.22206,Gas
31,Gujarat State Petronet Ltd.,2995176,5273.01,1.43824,Gas
32,GAIL (India) Ltd.,1146089,3806.73,1.0383,Gas
33,The Indian Hotels Company Ltd.,2923868,4153.35,1.13285,"Hotels, Resorts And Other Recreational Activities"
34,Mahindra CIE Automotive Ltd.,2116044,4983.28,1.35921,Industrial Products
35,SKF India Ltd.,163295,3135.35,0.85518,Industrial Products
36,Jagran Prakashan Ltd.,3057159,3144.29,0.857619,Media & Entertainment
37,Hindalco Industries Ltd.*,6549242,13655.2,3.72451,Non - Ferrous Metals
38,Indian Oil Corporation Ltd.,6110124,8361.7,2.28069,Petroleum Products
39,Hindustan Petroleum Corporation Ltd.,2944313,6874.97,1.87518,Petroleum Products
40,Bharat Petroleum Corporation Ltd.,919031,3174.79,0.865939,Petroleum Products
41,Dr. Reddy's Laboratories Ltd.,242107,6587.25,1.7967,Pharmaceuticals
42,Cadila Healthcare Ltd.,920735,2936.68,0.800994,Pharmaceuticals
43,Power Grid Corporation of India Ltd.*,7419223,13992.7,3.81656,Power
44,NTPC Ltd.*,6221247,8691.08,2.37053,Power
45,Tata Power Company Ltd.,3124428,2227.72,0.60762,Power
46,Aditya Birla Fashion and Retail Ltd.,1075124,2252.38,0.614348,Retailing
47,Infosys Ltd.*,2324211,17421.1,4.75169,Software
48,Tech Mahindra Ltd.,922467,6751.54,1.84151,Software
49,Cyient Ltd.,381063,2322.58,0.633494,Software
50,Bharti Airtel Ltd.,2371971,7267.72,1.9823,Telecom - Services
51,Himatsingka Seide Ltd.,1178633,2372.59,0.647134,Textile Products
52,Gujarat Pipavav Port Ltd.,1774842,1507.73,0.41124,Transportation
53,Globsyn Technologies Ltd,30000,0.003,8.18264e-07,Unlisted
54,Quantum Information Services,3500,0.00035,9.54641e-08,Unlisted
55,Numero Uno International Ltd,2900,0.00029,7.90988e-08,Unlisted
56,Cash,NaN,NaN,2.38221,Cash

In [7]:
#selector = 'Sector Allocation - Total Assets'
#temp_df = df['FITX'].set_index(df['FITX'].columns[0])
#sect_df = df['FITX'].loc[selector]

In [8]:
#sect_df = temp_df.loc[selector:]

In [9]:
#sect_df

In [10]:
#sect_df.dropna(axis=0, how='all', thresh=None, subset=None, inplace=True)
#sect_df.dropna(axis=1, how='all', thresh=None, subset=None, inplace=True)
#sect_df = sect_df[:-2]